{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
      <header class="header page-header hero-unit">
        <div class="row-fluid">
        <h1>About Band Generator</h1>
        <p>Suffer writer's block in naming your new band? This little site will give you not only band name ideas, but also first album name and cover! Generate a new band, or browse over what others have generated and discuss them. Have fun!</p>
        </div>
      </header>
{% endblock %}
