{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
      <header class="header page-header hero-unit">
        <div class="row-fluid">
        <div class="span3 offset1">
            {% if band and band.debut_album_cover_link and band.debut_album_cover_path %}
                <a href="http://www.flickr.com{{ band.debut_album_cover_link }}"><img src="{{ band.debut_album_cover_path }}" /></a>  
            {% endif%}
        </div>
        <div class="span6">
        <p>Here's your new band!</p>
        <h1><a href="/band/{{ band.key.id }}">{% if band %}{{ band.name }}{% endif %}</a></h1>
        <p>{% if band and band.debut_album_name %}Debut album: {{ band.debut_album_name }} {% endif %}</p>
        <p><a href="http://flikr.com{{ band.debut_album_cover_link }}" class="btn btn-large">View cover</a>
        <a href="/band/{{ band.key.id }}" class="btn btn-large">Share &raquo;</a> <a href="/" class="btn btn-large btn-primary">Generate another!</a></p>
        </div>
        </div>
      </header>
{% endblock %}
